.hear{
    background-color: rgb(253, 21, 21);
    padding-top:5px;
    padding-left: 12px;
    padding-right: 20px;
    padding-bottom: 5px;
    color: white;
}
.hear label{
    font-size: 150%;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    padding-right: 60px;
}
.hear #sagar{
   width: 35%;
   height:25px;
   border-radius: 5px;
}
.hear a{
    text-decoration:none;
    padding:4px;
    background-color: yellow;
    color:red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-right:25px;
    margin-left:35%;
}
.hear #demo{
    background-color: orange;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:none;
    border-radius: 5px;
    font-size: 130%;
    padding:2px;
}
.hear #mod{
    background-color: orange;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:none;
    border-radius: 5px;
    font-size: 130%;
    padding:2px;
}
.content{
    margin-left: 200px;
    margin-right: 200px;
    border: 2px solid brown;
    padding-left: 10px;
    display:inline-block;
}
.content input{
    width: 95%;
    height:30px;
    border-radius: 6px;
}
.content label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
    font-weight: lighter;
}
.content #sub{
    width: 25%;
    height:40px;
    border-radius: 6px;
    background-color: greenyellow;
    color:darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
}
.content .header h1{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 180%;
   color: darkred;
}
.content strong{
    color:red;
}
.content #message_error{
    display: none;
}
.content #message_error h2{
    background-color: orange;
    color:brown;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     margin-right:12px;
     border:1px solid darkred;
     border-radius:5px;
     padding: 3px;
}
.carder img{
    height:300px;
    width:300px
}
.carder {
    height:500px;
    width:300px;
    border:1px solid brown;
    float: left;
    margin-top: 40px;
    margin-left: 15px;
    background-color: rgb(71, 67, 67);
}
.carder h3{
    background-color: rgb(71, 67, 67);
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.carder p{
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.carder input{
    width:100%;
    height:35px;
    background-color: green;
    color:honeydew;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
input#sub{
background-color: chartreuse;
color: chocolate;
float: left;
margin-left: 12px;
}
table,tr,td{
    margin-left: 15%;
    padding: 10px;
}